body, button, input, select, textarea, h1 ,h2 , h3, h4, h5, h6 { 
	font-family: Arial, 'Times New Roman', Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
.not-show {
	display: none;
}
.no-min-height {
	min-height: 0;
}
.btn-no-border {
	border: 0;
}
.btn-no-radius {
	border-radius: 0;
}
.my-tips {
	position: fixed;
	width:200px;
    bottom: 10%;
    margin: 0 auto;
    padding:15px 25px;
    left: 0;
    right: 0;
    z-index: 1040;
    background-color: rgba(118, 212, 111, 0.7);
    text-align: center;
    border-radius: 5px;
    color: #fff;
}
.success {
	background-color: rgba(118, 212, 111, 0.7);
    color: #fff;
}
.warning {
	background-color: rgba(212, 212, 111, 0.7);
    color: #fff;
}
.error {
	background-color: rgba(212, 111, 111, 0.7);;
    color: #fff;
}