<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	 	<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
		    <!-- rollover daily -->
		    <fileNamePattern>/yjdata/www/www/log/robotlog-%d{yyyy-MM-dd}.%i.txt</fileNamePattern>
		    <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
		    <maxFileSize>2MB</maxFileSize>    
		    <maxHistory>10</maxHistory>
		    <totalSizeCap>2GB</totalSizeCap>
	  	</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
    	<connectionSource class="ch.qos.logback.core.db.DataSourceConnectionSource">
	        <dataSource class="com.mchange.v2.c3p0.ComboPooledDataSource">
		        <driverClass>com.mysql.jdbc.Driver</driverClass>
		        <jdbcUrl>jdbc:mysql://118.89.104.97:3306/qq_robot?characterEncoding=utf8</jdbcUrl>
		        <user>root</user>
		        <password>xuV2TkxciU4F</password>
	        </dataSource>
    	</connectionSource>
  	</appender>
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
		<appender-ref ref="DB" />
	</root>
	<logger name="org.cool.qqrobot" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="DB" />
	</logger>
	<logger name="org.cool.qqrobot.http.MyHttpClient" level="DEBUG" additivity="false">
		<appender-ref ref="FILE" />
	</logger>
</configuration>